[submodule "docker-websvn"]
	path = docker-svn
	url = https://github.com/cipherwizard/docker-websvn.git
[submodule "docker-openldap.dinkel"]
	path = docker-openldap.dinkel
	url = https://github.com/dinkel/docker-openldap.git
