[submodule "docker-svn"]
	path = docker-svn
	url = git@github.com:novatechweb/docker-svn.git
[submodule "docker-openssl"]
	path = docker-openssl
	url = git@github.com:novatechweb/docker-openssl.git
[submodule "docker-openldap"]
	path = docker-openldap
	url = git@github.com:cipherwizard/docker-openldap.git
[submodule "docker-mediawiki"]
	path = docker-mediawiki
	url = git@github.com:novatechweb/docker-mediawiki.git
